.experience__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    text-align: center;
}

.experience__container>div{
    background:var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.experience__container>div:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
    color: var(--color-primary);
}

.experience__container > div h3{
    margin-bottom: .5rem;
}

.experience__container > div p, h6{
    color: var(--color-light);
}

@media only screen and (max-width: 1024px) {    
    .experience__container{
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 600px) {    
.about__container{
    grid-template-columns: 1fr;
    gap: 0;
}

.about__me{
    width: 65%;
    margin: 0 auto 3rem;
}

.about__cards{
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.about__me__content{
    text-align: center;
}

.about__me__content p{
    margin: 1.5rem 0;
    }
.experience__container > div{
    width: 100%;
    padding:2rem 1rem

}
} 