header {
    height: 125vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    height: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;

}

.header__container>h4 {
    position: relative;
}

.header__container>h4::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--color-bg);
    animation: showRight 1s ease forwards;
    animation-delay: 0.5s;
}

.header__container>h1 {
    position: relative;
}

.header__container>h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--color-bg);
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.header__container>h5 {
    position: relative;
}

.header__container>h5::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--color-bg);
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    position: relative;
}

.cta::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--color-bg);
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
    z-index: 2;
}

.cta a {
    position: relative;
    background: var(--color-primary);
    color: var(--color-bg);
    border: 1px solid var(--color-primary);
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: var(--transition);
}

.cta a:hover {
    color: var(--color-primary);
}

.cta a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--color-bg);
    z-index: -1;
    transition: var(--transition);
}

.cta a:hover::before {
    width: 100%;
}

.cta a:nth-child(2) {
    background: transparent;
    color: var(--color-primary);
}

.cta a:nth-child(2):hover {
    color: var(--color-bg);
}

.cta a:nth-child(2)::before {
    background: var(--color-primary);
}

.header__social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__social a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: var(--color-bg);
    border: 1px solid var(--color-primary);
    border-radius: 50%;
    font-size: 20px;
    color: var(--color-primary);
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}

.header__social a:hover {
    color: var(--color-bg);
}

.header__social a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--color-bg);
    z-index: -1;
    transition: var(--transition);
}

.header__social a:hover::before {
    width: 100%;
    background: var(--color-primary);
}

.header__social::after {
    /*the after tag help us to draw the vertical line we have
    after the social icons*/
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

.my_image {
    background: linear-gradient(var(--color-primary), transparent);
    border-radius: 50%;
    width: 350px;
    height: 370px;
    position: relative;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.me {
    border-radius: 50%;
    width: 330px;
    height: 350px;
    display: block;
    object-fit: cover;
}

.img_hover {
    background: transparent;
    border-radius: 50%;
    position: absolute;
    width: 350px;
    height: 370px;
    overflow: hidden;
    transition: var(--transition-span);
}

.img_hover:hover {
    background: var(--color-bg);
    opacity: 0.5;
}

.scroll__down {
    position: absolute;
    right: -2rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-weight: 0.9rem;
}

.scroll__down:hover {
    color: var(--color-light);
}

/* Keyframes Animation */
@keyframes showRight {
    100% {
        width: 0;
    }
}

@media only screen and(max-width:1024px) {
    header {
        height: 135vh
    }

    .me {
        width: 50%;
        height: 50%;
    }

}

@media only screen and (max-width: 600px) {

    header {
        height: 140vh;
    }

    .me {
        width: 65%;
        height: 65%;
    }

    .header__container>h1 {
        font-size: 100%;
    }

    .header__social,
    .scroll__down {
        display: none;
    }

}